// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app.md {
    font-family: "Museo Sans";
}

$we-switch-color: #2fbac5;

#advertisement-page {

    text-align: center;

    .slides-md {
        height: 240px;
    }
    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid white;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: white;
    }

    article {

        position: relative;

        h1 {
            font-weight: 100;
        }

        .stats {
            position: absolute;
            top: -30px;  // TODO: take from var?
            z-index: 10;
            color: white;
        }
        .like-stats {
            left: 0;
        }
        .view-stats {
            right: 0;
        }

    }

    .seller-information {
        background-color: #f5f5f5;
        text-align: left;

        .verification-badge {
            position: relative;
            max-width: 30px;

            .verified-icon {
                color: $we-switch-color;
                font-size: 12px;

                position: absolute;
                left: 40%;
                top: 50%;
            }
        }

        .avatar {
            background-color: $we-switch-color;
            border-radius: 50%;
        }
    }

    .article-information {
        color: white;
        background-color: $we-switch-color;

        p {
            margin: 0;
            padding: 10px;
        }

        .attribute-icon {
            border: 1px solid white;
            max-width: 44px;
        }
        .attribute-text {
            text-align: left;
            span {
                display: block;
            }
            & :first-child {
                font-weight: 500;
            }
        }
    }

}