<div class="article-information">

    <p>{{ description }}</p>

    <ion-grid>
        <ion-row *ngFor="let attributeRow of attributes">
            <ion-col *ngFor="let attribute of attributeRow" width-50>
                <ion-row>
                    <ion-col class="attribute-icon" width-25></ion-col>
                    <ion-col class="attribute-text" width-75>
                        <span>{{ attribute.name }}</span>
                        <span>{{ attribute.selected_values }}</span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

</div>
